.div60vw{
    background-color: 	rgb(0, 150, 0);
    width: 35vw;
    height: 7vh;
    font-family: monospace;
    margin-left: auto;
    font-size: xx-large;
}

.div50vw{
    background-color: rgb(0, 255, 0);
    width: 30vw;
    height: 7vh;
    font-family: monospace;
    margin-left: auto;
    font-size: xx-large;
}

.div40vw{
    background-color: rgb(51, 255, 51);
    width: 25vw;
    height: 7vh;
    font-family: monospace;
    margin-left: auto;
    font-size: xx-large;
}

.div30vw{
    background-color: rgb(102, 255, 102);
    width: 20vw;
    height: 7vh;
    font-family: monospace;
    margin-left: auto;
    font-size: xx-large;
}

.div20vw{
    background-color: 	rgb(153, 255, 153);
    width: 15vw;
    height: 7vh;
    font-family: monospace;
    margin-left: auto;
    font-size: xx-large;
}

.div10vw{
    background-color: 	rgb(204, 255, 204);
    width: 10vw;
    height: 7vh;
    font-family: monospace;
    margin-left: auto;
    font-size: xx-large;
}

#escada{
    text-align: center;
    width: 40vw;
}

p{
    padding-top: 2vh;
}