.tamanho{
    padding: 5px 50px;
}

.tam{
    padding: 5px 20px;
}

table, th, td{
    border: 1px solid black;
    text-align: center;
}

body{
    background-image: url(../img/paleta.png);
    background-size: 10%;
    background-repeat: repeat-x;
    background-position-y: 258%;
}

#imgLogo{
    background-image: url(../img/logoIF.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: right;
}