#sec1{
    background-color: salmon;
}

#sec2{
    color: blue;
    background-color: #808080;
    background-image: url(/atv5_12_09/img/gato.png);
    background-size: 2.4%;
}

#sec3{
    background-color: lightgreen;
    opacity: 0.8;
}

body{
    background-color: lightblue;
    background-image: url(/atv5_12_09/img/gato.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 146% bottom;
}
