.sec1{
    background-color: lightgreen;
}

.subTit{
    text-decoration: underline;
    font-size: 16pt;
    font-weight: bold;
}

.prop{
    background-color: white;
}

h2{
    text-align: center;
}

/*----------------TEXTOS-----------------*/

/*Div de cores*/
#p1div1{
    color: darkred;
}
#p2div1{
    color: red;
}
#p3div1{
    color: tomato;
}

/*Div de Alinhamento*/
#p1div2{
    text-align: left;
}
#p2div2{
    text-align: center;
}
#p3div2{
    text-align: right;
}
#p4div2{
    text-align: justify;
}

/*Div de Decoração*/
#p1div3{
    text-decoration: line-through;
}
#p2div3{
    text-decoration: underline;
}

/*Div de Transformação*/
#p1div4{
    text-transform: capitalize;
}
#p2div4{
    text-transform: uppercase;
}

/*Div de Identação*/
#p1div5{
    text-indent: 2vw;
}
#p2div5{
    text-indent: 5vw;
}

/*Div de espaçamento entre linhas*/
#p1div6{
    line-height: normal;
}
#p2div6{
    line-height: 3vh;
}
#p3div6{
    line-height: 5vh
}

/*------------------FONTES-----------------*/

.sec2{
    background-color: lightblue;
}

/*Div de Família de fontes*/
#p1div7{
    font-family: 'Courier New', Courier, monospace;
}
#p2div7{
    font-family: 'Times New Roman', Times, serif;
}
#p3div7{
    font-family: cursive;
}
#p4div7{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#p5div7{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Div de Especificação de estilo de fonte*/
#p1div8{
    font-style: italic;
}

/*Div de Especificação de grossura de fonte*/
#p1div9{
    font-weight: bold;
}

/*Div de tamanho de fontes*/
#p1div10{
    font-size: x-small;
}
#p2div10{
    font-size: small;
}
#p3div10{
    font-size: medium;
}
#p4div10{
    font-size: large;
}
#p5div10{
    font-size: x-large;
}